#banner{
    background: white;
    height: 240px;
    width: 1000px;
}
#footer{
    background:white;
    width: 1250px;
    text-align: center;
    height: 60px;
    color:black;
    clear: both;
}
body{
    margin: 0;
    padding: 0;
    /*background-image: url("");*/
    background-size: cover;
    color: black;
}